<a href="https://colab.research.google.com/github/headboyprince/movies-recommender-beginner-to-advanced/blob/main/movie_recommender_systems_with_beautiful_soup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

HEADERS ={"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:66.0) Gecko/20100101 Firefox/66.0", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

In [4]:
genres = [
    
    "Adventure",
    "Animation",
    "Biography",
    "Comedy",
    "Crime",
    "Drama",
    "Family",
    "Fantasy",
    "Film-Noir",
    "History",
    "Horror",
    "Music",
    "Musical",
    "Mystery",
    "Romance",
    "Sci-Fi",
    "Sport",
    "Thriller",
    "War",
    "Western"
]

url_dict = {}

for genre in genres:
    url = "https://www.imdb.com/search/title/?genres={}&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16"
    formated_url = url.format(genre)
    url_dict[genre] = formated_url
    
print(url_dict)

{'Adventure': 'https://www.imdb.com/search/title/?genres=Adventure&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16', 'Animation': 'https://www.imdb.com/search/title/?genres=Animation&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16', 'Biography': 'https://www.imdb.com/search/title/?genres=Biography&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16', 'Comedy': 'https://www.imdb.com/search/title/?genres=Comedy&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16', 'Crime': 'https://www.imdb.com/search/title/?genres=Crime&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16', 'Drama': 'https://www.imdb.com/search/title/?genres=Drama&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16', 'Family': 'https://www.imdb.com/search/title/?genres=Family&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16', 'Fantasy': 'https://www.imdb.com/search/title/?genres=Fantasy&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16', 'Film-Noir': 'https://www.imdb.com/search/title/?genres=Film-Noir&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16', 'History': 'https://www.imdb.com/search/title/?genres=History&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16', 'Horror': 'https://www.imdb.com/search/title/?genres=Horror&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16', 'Music': 'https://www.imdb.com/search/title/?genres=Music&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16', 'Musical': 'https://www.imdb.com/search/title/?genres=Musical&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16', 'Mystery': 'https://www.imdb.com/search/title/?genres=Mystery&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16', 'Romance': 'https://www.imdb.com/search/title/?genres=Romance&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16', 'Sci-Fi': 'https://www.imdb.com/search/title/?genres=Sci-Fi&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16', 'Sport': 'https://www.imdb.com/search/title/?genres=Sport&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16', 'Thriller': 'https://www.imdb.com/search/title/?genres=Thriller&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16', 'War': 'https://www.imdb.com/search/title/?genres=War&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16', 'Western': 'https://www.imdb.com/search/title/?genres=Western&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16'}

In [5]:
url = "https://www.imdb.com/search/title/?genres=Adventure&sort=user_rating,desc&title_type=feature&num_votes=25000,&pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=5aab685f-35eb-40f3-95f7-c53f09d542c3&pf_rd_r=N97GEQS6R7J9EV7V770D&pf_rd_s=right-6&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_gnr_16"

# Sending a request to the speciifed URL
resp = requests.get(url, headers=HEADERS)

# Converting the response to Beautiful Soup Object
content = BeautifulSoup(resp.content, 'lxml')

# Iterating throught the list of movies 
for movie in content.select('.lister-item-content'):
        
    try:
        # Creating a python dictonary
        data1 = ({
            "title":movie.select('.lister-item-header')[0].get_text().strip(),
            "year":movie.select('.lister-item-year')[0].get_text().strip(),
            "certificate":movie.select('.certificate')[0].get_text().strip(),
            "time":movie.select('.runtime')[0].get_text().strip(),
            "genre":movie.select('.genre')[0].get_text().strip(),
            "rating":movie.select('.ratings-imdb-rating')[0].get_text().strip(),
            "metascore":movie.select('.ratings-metascore')[0].get_text().strip(),
            "simple_desc":movie.select('.text-muted')[2].get_text().strip(),
            "votes":movie.select('.sort-num_votes-visible')[0].get_text().strip()
            })
        
    except IndexError:
        continue

index = ['title', 'year', 'genre']
planets_df = pd.DataFrame(data1, index=index)
print(planets_df)

                    title    year certificate    time  \
title  48.\nKlaus\n(2019)  (2019)          PG  96 min
year   48.\nKlaus\n(2019)  (2019)          PG  96 min
genre  48.\nKlaus\n(2019)  (2019)          PG  96 min

                              genre rating                      metascore  \
title  Animation, Adventure, Comedy    8.1  65        \n        Metascore
year   Animation, Adventure, Comedy    8.1  65        \n        Metascore
genre  Animation, Adventure, Comedy    8.1  65        \n        Metascore

                                             simple_desc            votes
title  A simple act of kindness always sparks another...  Votes:\n148,911
year   A simple act of kindness always sparks another...  Votes:\n148,911
genre  A simple act of kindness always sparks another...  Votes:\n148,911

In [6]:
import requests
from bs4 import BeautifulSoup

def get_topics_page():
    
    topic_url = 'https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=000&ref_=adv_next'
    response=requests.get(topic_url)
    # check successfull response
    if response.status_code != 200:
        raise Exception(f'Failed to load page {topic_url}')
    # Parse using BeautifulSoup
    doc = BeautifulSoup(response.text, 'html.parser')
    return doc

doc=get_topics_page()

doc.find('title')

<title>IMDb "Top 1000"
(Sorted by IMDb Rating Descending) - IMDb</title>

In [7]:
def get_movie_titles(doc):
    
    selection_class="lister-item-header"
    movie_title_tags=doc.find_all('h3',{'class':selection_class})
    movie_titles=[]

    for tag in movie_title_tags:
        title = tag.find('a').text
        movie_titles.append(title)
        
        
    return movie_titles
titles = get_movie_titles(doc)
titles[:5]

['The Shawshank Redemption',
 'The Godfather',
 'Kantara',
 'The Dark Knight',
 'The Lord of the Rings: The Return of the King']

In [8]:
def get_movie_url(doc):
    url_selector="lister-item-header"           
    movie_url_tags=doc.find_all('h3',{'class':url_selector})
    movie_url_tagss=[]
    base_url = 'https://www.imdb.com/'
    for tag in movie_url_tags:
        movie_url_tagss.append('https://www.imdb.com/' + tag.find('a')['href'])
    return movie_url_tagss
urls = get_movie_url(doc)
urls[:5]

['https://www.imdb.com//title/tt0111161/',
 'https://www.imdb.com//title/tt0068646/',
 'https://www.imdb.com//title/tt15327088/',
 'https://www.imdb.com//title/tt0468569/',
 'https://www.imdb.com//title/tt0167260/']

In [9]:
def get_movie_duration(doc):
    
    selection_class="runtime"
    movie_duration_tags=doc.find_all('span',{'class':selection_class})
    movie_duration=[]

    for tag in movie_duration_tags:
        duration = tag.text[:-4]
        movie_duration.append(duration)
        
        
    return movie_duration

durations = get_movie_duration(doc)
durations[:5]

['142', '175', '148', '152', '201']

In [17]:
def get_movie_certification(doc):
    
    selection_class="lister-item-content"
    movie_details_tags = doc.find_all('div',{'class':selection_class})
    movie_certification=[]
    

    for detail_tag in movie_details_tags:
        
        certification_tag = detail_tag.find('span',{'class':'certificate'})
        if certification_tag:
            movie_certification.append(certification_tag.text)
        else:
            movie_certification.append('NA')                                                           
        
    return movie_certification

certifications = get_movie_certification(doc)
certifications[:5]

['R', 'R', 'NA', 'PG-13', 'PG-13']

In [18]:
def get_movie_year(doc):
    year_selector = "lister-item-year text-muted unbold"           
    movie_year_tags=doc.find_all('span',{'class':year_selector})
    movie_year_tagss=[]
    for tag in movie_year_tags:
        movie_year_tagss.append(tag.get_text().strip()[1:5])
    return movie_year_tagss
years = get_movie_year(doc)
years[:5]

['1994', '1972', '2022', '2008', '2003']

In [19]:
def get_movie_genre(doc):
    genre_selector="genre"            
    movie_genre_tags=doc.find_all('span',{'class':genre_selector})
    movie_genre_tagss=[]
    for tag in movie_genre_tags:
        movie_genre_tagss.append(tag.get_text().strip())
    return movie_genre_tagss
genres = get_movie_genre(doc)
genres[:5]

['Drama',
 'Crime, Drama',
 'Action, Adventure, Drama',
 'Action, Crime, Drama',
 'Action, Adventure, Drama']

In [20]:
def get_movie_rating(doc):
    rating_selector="inline-block ratings-imdb-rating"            
    movie_rating_tags=doc.find_all('div',{'class':rating_selector})
    movie_rating_tagss=[]
    for tag in movie_rating_tags:
        movie_rating_tagss.append(tag.get_text().strip())
    return movie_rating_tagss
ratings = get_movie_rating(doc)
ratings[:5]

['9.3', '9.2', '9.0', '9.0', '9.0']

In [21]:
import pandas as pd
def all_pages():
# Let's we create a dictionary to store data of all movies
    movies_dict={
        'title':[],
        'genre':[],
        'duration':[],
        'rating':[],
        'year':[],
        'certification':[],
        'url':[]
    }
  # We have to scrap more than one page so we want urls of all pages with the help of loop we can get all urls
    for i in range(1,2000,100):
       
        try:
            url = 'https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start='+str(i)+'&ref_=adv_next'
            response = requests.get(url)
        except:
            break
        
        if response.status_code != 200:
            break
           
    # Parse using BeautifulSoup
        doc = BeautifulSoup(response.text, 'html.parser')
        titles = get_movie_titles(doc)
        urls = get_movie_url(doc)
        certifications = get_movie_certification(doc)
        ratings = get_movie_rating(doc)
        durations = get_movie_duration(doc)
        years = get_movie_year(doc)
        genres = get_movie_genre(doc)
    
        
    # We are adding every movie data to dictionary
        for i in range(len(titles)):
            movies_dict['title'].append(titles[i])
            movies_dict['genre'].append(genres[i])
            movies_dict['duration'].append(durations[i])
            movies_dict['rating'].append(ratings[i])
            movies_dict['year'].append(years[i])
            movies_dict['certification'].append(certifications[i])
            movies_dict['url'].append(urls[i])
        
    return pd.DataFrame(movies_dict)

In [22]:
movies = all_pages()
movies.to_csv('movies.csv',index=None)

movies_dict={
    'title':titles,
    'genre':genres,
    'duration':durations,
    'rating':ratings,
    'year':years,
    'certification':certifications,
    'url':urls
}

In [23]:
df = pd.DataFrame(movies_dict)
df.head()

,title,genre,duration,rating,year,certification,url
0,The Shawshank Redemption,Drama,142,9.3,1994,R,https://www.imdb.com//title/tt0111161/
1,The Godfather,"Crime, Drama",175,9.2,1972,R,https://www.imdb.com//title/tt0068646/
2,Kantara,"Action, Adventure, Drama",148,9.0,2022,NA,https://www.imdb.com//title/tt15327088/
3,The Dark Knight,"Action, Crime, Drama",152,9.0,2008,PG-13,https://www.imdb.com//title/tt0468569/
4,The Lord of the Rings: The Return of the King,"Action, Adventure, Drama",201,9.0,2003,PG-13,https://www.imdb.com//title/tt0167260/

In [24]:
#remove the spaces from the genre column so that it will be aeasy to convert the column into a matrix dataframe. 
movies_mat = df.genre = df.genre.str.replace(' ', '')
movies_mat.head()

0                     Drama
1               Crime,Drama
2    Action,Adventure,Drama
3        Action,Crime,Drama
4    Action,Adventure,Drama
Name: genre, dtype: object

In [25]:
#convert the genre column into matrix column using items that are seperated by a comma
movies_mat = df['genre'].str.get_dummies(sep=',')
movies_mat.head()

,Action,Adventure,Animation,Biography,Comedy,Crime,Drama,Family,Fantasy,Film-Noir,History,Horror,Music,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
2,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0

In [26]:
#combine the dataframe and the matrixes columns
df1 = pd.concat([df, movies_mat], axis = 1)
df1.head()

,title,genre,duration,rating,year,certification,url,Action,Adventure,Animation,...,Film-Noir,History,Horror,Music,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,The Shawshank Redemption,Drama,142,9.3,1994,R,https://www.imdb.com//title/tt0111161/,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,The Godfather,"Crime,Drama",175,9.2,1972,R,https://www.imdb.com//title/tt0068646/,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Kantara,"Action,Adventure,Drama",148,9.0,2022,NA,https://www.imdb.com//title/tt15327088/,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,The Dark Knight,"Action,Crime,Drama",152,9.0,2008,PG-13,https://www.imdb.com//title/tt0468569/,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,The Lord of the Rings: The Return of the King,"Action,Adventure,Drama",201,9.0,2003,PG-13,https://www.imdb.com//title/tt0167260/,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
#turn the duration column from object to numeric values 
df1['duration'] = pd.to_numeric(df1['duration'])
#df1['year'] = pd.to_numeric(df1['year'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          100 non-null    object
 1   genre          100 non-null    object
 2   duration       100 non-null    int64
 3   rating         100 non-null    object
 4   year           100 non-null    object
 5   certification  100 non-null    object
 6   url            100 non-null    object
 7   Action         100 non-null    int64
 8   Adventure      100 non-null    int64
 9   Animation      100 non-null    int64
 10  Biography      100 non-null    int64
 11  Comedy         100 non-null    int64
 12  Crime          100 non-null    int64
 13  Drama          100 non-null    int64
 14  Family         100 non-null    int64
 15  Fantasy        100 non-null    int64
 16  Film-Noir      100 non-null    int64
 17  History        100 non-null    int64
 18  Horror         100 non-null    int64
 19  Music          100 non-null    int64
 20  Mystery        100 non-null    int64
 21  Romance        100 non-null    int64
 22  Sci-Fi         100 non-null    int64
 23  Thriller       100 non-null    int64
 24  War            100 non-null    int64
 25  Western        100 non-null    int64
dtypes: int64(20), object(6)
memory usage: 20.4+ KB

In [28]:
import pandas as pd
import re
#extract the columns in year that contains non numeric numbers.
non_numeric = re.compile(r'[^\d.]+')

df1.loc[df1['year'].str.contains(non_numeric)]

,title,genre,duration,rating,year,certification,url,Action,Adventure,Animation,...,Film-Noir,History,Horror,Music,Mystery,Romance,Sci-Fi,Thriller,War,Western
36,96,"Drama,Romance",158,8.5,II),Not Rated,https://www.imdb.com//title/tt7019842/,0,0,0,...,0,0,0,0,0,1,0,0,0,0
64,Joker,"Crime,Drama,Thriller",122,8.4,I) (,R,https://www.imdb.com//title/tt7286456/,0,0,0,...,0,0,0,0,0,0,0,1,0,0
69,Coco,"Animation,Adventure,Comedy",105,8.4,I) (,PG,https://www.imdb.com//title/tt2380307/,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [29]:
#convert all non numeric numbers in year to 0.
import pandas as pd
def remove_nils(x):
  if (x.isnumeric()):
    return int(x)
  else:
    return 0
df1["year"] = df1["year"].apply(remove_nils)
df1.head()

,title,genre,duration,rating,year,certification,url,Action,Adventure,Animation,...,Film-Noir,History,Horror,Music,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,The Shawshank Redemption,Drama,142,9.3,1994,R,https://www.imdb.com//title/tt0111161/,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,The Godfather,"Crime,Drama",175,9.2,1972,R,https://www.imdb.com//title/tt0068646/,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Kantara,"Action,Adventure,Drama",148,9.0,2022,NA,https://www.imdb.com//title/tt15327088/,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,The Dark Knight,"Action,Crime,Drama",152,9.0,2008,PG-13,https://www.imdb.com//title/tt0468569/,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,The Lord of the Rings: The Return of the King,"Action,Adventure,Drama",201,9.0,2003,PG-13,https://www.imdb.com//title/tt0167260/,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
#check number cell 37 to see if it has been conveted to numeric. it has been converted to 0.
display(df1.iloc[37])

title                                          Parasite
genre                                    Drama,Thriller
duration                                            132
rating                                              8.5
year                                               2019
certification                                         R
url              https://www.imdb.com//title/tt6751668/
Action                                                0
Adventure                                             0
Animation                                             0
Biography                                             0
Comedy                                                0
Crime                                                 0
Drama                                                 1
Family                                                0
Fantasy                                               0
Film-Noir                                             0
History                                               0
Horror                                                0
Music                                                 0
Mystery                                               0
Romance                                               0
Sci-Fi                                                0
Thriller                                              1
War                                                   0
Western                                               0
Name: 37, dtype: object

In [42]:
#select a random category in certification
import random
import sys

select_category = input("which category do you want to watch?: ")
select_year = (input("Classic or modern movies?: "))
select_duration = (input("short or long movies?: "))

filterm1 = df1.loc[df1[select_category] == 1]

    
#year categorized into mordern(released after the year 2000) and classic(released before the year 2000)
if select_year == 'classic':
  filterm1 = filterm1[filterm1['year'] >= 2000]
elif select_year == 'mordern':
  filterm1 = filterm1[filterm1['year'] <= 2000]
else:
  print('invalid input')



#year categorized into long(movie length is greater than 2 hours) and short(movie length is less than 2 hours)
if select_duration == 'long':
  filterm1 = filterm1[filterm1['duration'] >= 120]
elif select_duration == 'short':
  filterm1 = filterm1[filterm1['duration'] <= 120]
else:
  print('invalid input')


if filterm1.empty:
    raise SystemExit('No movie matches your selection, please make another selection!')
    


watch_movie=filterm1.sample()

watch_movie
#else:

which category do you want to watch?: Action
Classic or modern movies?: classic
short or long movies?: short

,title,genre,duration,rating,year,certification,url,Action,Adventure,Animation,...,Film-Noir,History,Horror,Music,Mystery,Romance,Sci-Fi,Thriller,War,Western
81,Oldboy,"Action,Drama,Mystery",120,8.4,2003,R,https://www.imdb.com//title/tt0364569/,1,0,0,...,0,0,0,0,1,0,0,0,0,0

In [50]:
watch_movie_title = watch_movie['title']
watch_movie_year = watch_movie['year']
watch_movie_url = watch_movie['url']

In [51]:

print(f'you should watch the {watch_movie_title}') 
      #\n year {watch_movie_year}. \n movie url {watch_movie_url}')

you should watch the 81    Oldboy
Name: title, dtype: object

In [44]:
s = pd.Series(df1['genre'], dtype="category")
s.dtypes

CategoricalDtype(categories=['Action,Adventure', 'Action,Adventure,Crime',
                  'Action,Adventure,Drama', 'Action,Adventure,Fantasy',
                  'Action,Adventure,Sci-Fi', 'Action,Biography,Drama',
                  'Action,Crime,Drama', 'Action,Crime,Mystery', 'Action,Drama',
                  'Action,Drama,Mystery', 'Action,Sci-Fi',
                  'Adventure,Comedy,Sci-Fi', 'Adventure,Drama,Sci-Fi',
                  'Adventure,Western', 'Animation,Action,Adventure',
                  'Animation,Adventure,Comedy', 'Animation,Adventure,Drama',
                  'Animation,Adventure,Family', 'Animation,Drama,Fantasy',
                  'Animation,Drama,War', 'Biography,Comedy,Drama',
                  'Biography,Crime,Drama', 'Biography,Drama',
                  'Biography,Drama,History', 'Biography,Drama,Music',
                  'Comedy,Drama', 'Comedy,Drama,Romance', 'Comedy,Drama,War',
                  'Comedy,War', 'Crime,Drama', 'Crime,Drama,Fantasy',
                  'Crime,Drama,Mystery', 'Crime,Drama,Thriller', 'Drama',
                  'Drama,Family', 'Drama,Family,Fantasy', 'Drama,Film-Noir',
                  'Drama,Horror', 'Drama,Music', 'Drama,Mystery,Sci-Fi',
                  'Drama,Mystery,Thriller', 'Drama,Mystery,War',
                  'Drama,Romance', 'Drama,Romance,War', 'Drama,Thriller',
                  'Drama,Thriller,War', 'Drama,War', 'Drama,Western',
                  'Horror,Mystery,Thriller', 'Horror,Sci-Fi',
                  'Mystery,Thriller', 'Western'],
, ordered=False)

In [29]:
print(f'you should watch the {watch_movie}')

NameError: ignored

In [ ]:
s = pd.Series(df1['duration'], dtype="category")
s.dtypes

CategoricalDtype(categories=[ 87,  88,  89,  95,  96,  98, 102, 105, 106, 109, 110, 112,
                  113, 115, 116, 117, 118, 119, 120, 121, 122, 124, 125, 126,
                  127, 130, 132, 133, 134, 135, 136, 137, 139, 141, 142, 143,
                  145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 157,
                  158, 160, 163, 164, 165, 168, 169, 170, 175, 178, 179, 181,
                  189, 195, 201, 202, 207],
, ordered=False)